html{
	height: 100%;
	background-image: linear-gradient(to top, white 0%,  #c4d6b0 100%);
	background-size: cover;
}

body{
	height: 100%;
	width: 100%;
	overflow:hidden;
}


form {
    border-radius: 2%;
    background: #f2f2f2;
    width: 50%;
    margin:50px;
    -webkit-box-shadow: 0 0 10px #333333;
    box-shadow: 0 0 10px #333333;
}

form:hover {
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #333333;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px grey;
}


/* Set a style for all buttons */
button {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 2px 2px 4px grey;
}

/* Add a hover effect for buttons */
button:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}



/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    border-width: 1px;
    box-shadow: 2px 2px 4px grey;
}

/* Add padding to containers */
.container {
    padding: 0px;
}


#uname{
    background-image: url("Avatar.jpg");
}

label{
	letter-spacing: 1px;
}

